//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

// MARK: - View

protocol {{ module_info.name }}ViewInput: ActivityViewProtocol {
    func configure(viewModel: {{ module_info.name }}ViewModel)
}

protocol {{ module_info.name }}ViewOutput: class {
    func viewDidLoad()
}

// MARK: - Interactor

protocol {{ module_info.name }}InteractorInput: class {
}

protocol {{ module_info.name }}InteractorOutput: class {
}

// MARK: - Router

protocol {{ module_info.name }}RouterInput: class {
}
