//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

class {{ module_info.name }}Presenter {

    // MARK: - Internal Properties

    weak var view: {{ module_info.name }}ViewInput!
    var interactor: {{ module_info.name }}InteractorInput!
    var router: {{ module_info.name }}RouterInput!

}

// MARK: - {{ module_info.name }}ViewOutput

extension {{ module_info.name }}Presenter: {{ module_info.name }}ViewOutput {

    func viewDidLoad() {
	
    }

}

// MARK: - {{ module_info.name }}InteractorOutput

extension {{ module_info.name }}Presenter: {{ module_info.name }}InteractorOutput {

}
