//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

class {{ module_info.name }}Configurator {

    func configureModule() -> UIViewController {
    
        let viewController = {{ module_info.name }}ViewController()
        let router = {{ module_info.name }}Router(viewController: viewController)
        let presenter = {{ module_info.name }}Presenter()
        let interactor = {{ module_info.name }}Interactor()
        
        presenter.router = router
        presenter.view = viewController
        presenter.interactor = interactor
        
        viewController.output = presenter
        
        interactor.output = presenter

        return viewController
    }

}
